
section(class="imagebackground")
    div(class="hero")
        div(id="welcomesprite")
            h1="Mountain & Giant"
            p="We are a tiny studio with a special love for dumb and simply fun games. We haven't done much so far, but we'd be delighted if you'd check out our first creation, Awesome Zombie Sniper."
            a(href='http://www.snipezombies.com'): img(src="/images/310x150.png");
            p